body {
    background: url("../images/BackgroundImage.jpg")
}

.img-movie {
    max-width: 50%;
    float: left;
}

.img-movie:hover {
  opacity: 0.8; 
  transition:all 0.3s ease;
}

#weather {
	text-align: center;
}

#movies {
	text-align: center;
}

.post {
	overflow: auto;
}

.img-circle {
    border-radius: 50%;
}