body {
    background: url("../images/BackgroundImage.jpg") no-repeat center center fixed;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover 100% 100%;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
}

h1 {
	font-size:  80px;
	background-color: silver;
	color: black;
	text-align: center;
}

.jqx-layout-gro-up-auto-hide-content-vertical
{
    width: 200px;
}

#journalEntryForTheDay{
	float: right;
}

#WeatherAPI {
	float: left;
}

#NewsArticlesAPI {
	float: right;
}

#calendar {
	float: left;
}

#date {
	background-color: green;
	float: left;
}

#Journal {
	background-color: blue;
	float: right;
}

#Weather {
	background-color: red;
	float:  left;
}

#NewsArticles {
	background-color:  orange;
	float: right;
}


#sidebar {
}

.img-movie {
    max-width: 50%;
    float: left;
}

.img-movie:hover {
  opacity: 0.8; 
  transition:all 0.3s ease;
}

#weather {
	text-align: center;
}

#webPagePhoto {
   margin: 20px;
   padding-left: 40px;
   border:10px solid silver;
   background-color: black;
   float: center;
}

#moviesAndMusic {
	background-color: purple;
}
